.h1 {
  text-align: center;
}

.post_ul {
  list-style-type: none;
  padding: 0;
}

.post_li {
  background: #ffffff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
}
.lastElem {
  /* to preload items before hand */
  height: 500px; 
  align-self: "center";
}

.h2 {
  margin: 0 0 10px 0;
}
